@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 38px;
    font-weight: bold;
  }
}
.nav-ul {
  gap: 50px;
  height: 28px;
  font-weight: bold;
  font-size: 18px;
}
.main {
  width: 100%;
}
.nav-ul > li:hover {
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-bottom: theme("colors.accent-color") solid 2px;
}

body {
  background-color: theme("colors.background-color");
  font-family: "Satoshi", sans-serif;
  height: fit-content;
}
.today {
  width: 100%;
}
.item-img-container {
  overflow: hidden;
}
.item-img-container:hover {
  .item-img {
    transform: scale(1.3);
    transition: 0.4s ease-in-out;
  }
}
.hamburger {
  display: none;
}
.movie-container{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  grid-auto-flow: row;
}
.nav-mobile>li{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid theme("colors.background-color");
}
.nav-mobile>li:last-child{
  border-bottom: none;
}

@media (max-width: 1150px) {
  .movie-container{grid-template-columns: 1fr 1fr 1fr 1fr;}
}
@media (max-width: 950px) {
  .movie-container{grid-template-columns: 1fr 1fr 1fr;}
}
@media (max-width: 768px) {
  .today > img {
    height: fit-content;
  }
  .movie-container{
    grid-template-columns: 1fr 1fr 1fr;
  } 
  .item-img{
  }
  .nav-ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav-container{
    justify-content: space-between;
  }
  nav{
    
  }
}

@media (max-width: 530px) {
  .movie-container{grid-template-columns: 1fr 1fr;}
}
@media (max-width: 320px) {
  .movie-container{grid-template-columns: 1fr;}
}
@media (max-width:3000px){
  .nav-mobile{
    display: none;
  }
}
@media (max-width:768px){
  .nav-mobile{
    display: flex;
  }
}